#editor {
    height: 100%;
}

#tester {
    width: 90%;
    height: 90%;
    margin-left: -45%;
    margin-top: -5%;
}

#testerframe {
    height: 100%;
    width: 100%;
    border: none;
}

#message {
    width: 100%;
}

#testurl {
    margin-top: 15px;
    height: 10px;
    width: 98%;
}

#autocomplete {
    position: fixed;
    right: 50px;
    top: 60px;
    z-index: 1000;
}
