<!DOCTYPE html>
<html>
    <head>
        <title>Project '${projectName}' - Code Editor</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" media="screen" href="/public/aceeditor/stylesheets/main.css">
        <link rel="stylesheet" media="screen" href="/public/aceeditor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" media="screen" href="/public/aceeditor/csstree/csstree.css">
        <script src="/public/aceeditor/javascripts/jquery-1.8.2.min.js" type="text/javascript"
                    charset="utf-8"></script>
        <script src="/public/aceeditor/ace/ace.js" type="text/javascript" charset="utf-8"></script>
        <script src="/public/aceeditor/bootstrap/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <div id="tester" class="modal hide fade span9">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Application Tester</h3>
            </div>
            <div class="modal-body">
                <iframe src="" id="testerframe"></iframe>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid" id="columns">
                <div class="span3">
                    <h4>Project : '${projectName}'</h4>
                    <div class="btn-group">
                        <button id="savefile" class="btn btn-small btn-primary"><i class="icon-hdd icon-white"></i></button>
                        <button id="refreshfile" class="btn btn-small btn-primary"><i class="icon-refresh icon-white"></i></button>

                        <!--
                        <button id="status" class="btn btn-small btn-primary"><i class="icon-list-alt icon-white"></i></button>
                        <button id="search" class="btn btn-small btn-primary"><i class="icon-search icon-white"></i></button>
                        <button id="settings" class="btn btn-small btn-primary"><i class="icon-wrench icon-white"></i></button>
                        -->

                        <button id="create" class="btn btn-small btn-primary"><i class="icon-file icon-white"></i></button>
                        <button id="delete" class="btn btn-small btn-danger"><i class="icon-trash icon-white"></i></button>
                        <button id="run" class="btn btn-small btn-success"><i class="icon-play icon-white"></i></button>
                        <button id="snippet" class="btn btn-small btn-primary dropdown-toggle" data-toggle="dropdown"><i class="icon-leaf icon-white"></i></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Controller</a></li>
                            <li><a href="#">Action</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Model</a></li>
                            <li class="divider"></li>
                            <li><a href="#">WS call</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Asynchronous job</a></li>
                            <li><a href="#">Scheduled job</a></li>
                            <li><a href="#">On start job</a></li>
                            <li><a href="#">On stop job</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Cache add</a></li>
                            <li><a href="#">Cache get</a></li>
                            <li><a href="#">Cache clear</a></li>
                            <li><a href="#">Cache remove</a></li>
                        </ul>
                    </div>
                    <br/>
                    <input type="text" class="input-mini" id="testurl" value="http://localhost:9000">
                    <div id="message" class="label label-info">Ready to Play !></div>
                    <h5>Project source files</h5>
                    <div id="listTree"></div>

                    <ol class="tree">
                        ${node.toHTML()}
                    </ol>
                    <!--
                    <ul id="files" class="unstyled">
                        <% files.each { file -> %>
                        <li><a href="/@editor/file?path=${java.net.URLEncoder.encode(file.path)}&line=0">${file.displayPath}</a></li>
                        <% } %>
                    </ul>
                    -->
                </div>
                <div class="span9" id="righcolumn">
                    <div id="editor" class="span9">${play.utils.HTML.htmlEscape(src)}</div>
                </div>
            </div>
        </div>
        <div id="currentFileValue" class="hide">${currentFile}</div>
        <div id="typeOfFileValue" class="hide">${type}</div>
        <div id="findcontainer" class="hide"></div>
        <script>
            var editor;
            var setContextualMessageFor2Sec = function(text) {
                $('#message').css('font-style', 'normal');
                $('#message').html(text);
                setTimeout(function() {
                    $('#message').html('Ready to Play !>');
                    $('#message').css('font-style', 'italic');
                }, 2000);
            };
            var setContextualMessageFor = function(text) {
                $('#message').css('font-style', 'normal');
                $('#message').html(text);
            };
            var saveFile = function(editor) {
                var src = editor.getValue();
                setContextualMessageFor('Saving ...');
                $.post('/@editor/save', {src: src, currentFile: $('#currentFileValue').html()}, function(data) {
                    setContextualMessageFor2Sec('File saved !');
                    editor.getValue(data);
                })
            };
            var launchFile = function(editor) {
                saveFile(editor);
                $('#testerframe').attr('src', '');
                var url = $('#testurl').val();
                $('#testerframe').attr('src', url);
                $('#tester').modal('show');
            };
            var configureEditor = function() {
                var editor = ace.edit("editor");
                editor.commands.addCommand({
                    name: 'saveFile',
                    bindKey: {win: 'Ctrl-S',  mac: 'Command-S'},
                    exec: function(editor) {
                        saveFile(editor);
                    },
                    readOnly: true
                });
                editor.commands.addCommand({
                    name: 'launchFile',
                    bindKey: {win: 'Ctrl-B',  mac: 'Command-B'},
                    exec: function(editor) {
                        launchFile(editor)
                    },
                    readOnly: true
                });
                editor.setTheme("ace/theme/monokai");
                editor.getSession().setMode($('#typeOfFileValue').html());
                editor.setHighlightActiveLine(true);
                editor.getSession().setUseSoftTabs(true);
                editor.getSession().setTabSize(4);
                editor.setShowPrintMargin(false);
                editor.gotoLine(${line});
                editor.on("blur", function() {
                    saveFile(editor);
                });
                editor.on("copy", function(text) {
                    setContextualMessageFor2Sec('Copy selected text ...');
                });
                return editor;
            };
            $(document).ready(function() {
                editor = configureEditor();
                $('#savefile').click(function(e) {
                    e.preventDefault();
                    saveFile(editor);
                });
                $('#run').click(function(e) {
                    e.preventDefault();
                    launchFile(editor);
                });
                $('#refreshfile').click(function(e) {
                    e.preventDefault();
                    window.location.href = window.location.href;
                });
                $('.sourcefilelink').click(function(e) {
                    e.preventDefault();
                    var url = $(this).attr('href');
                    var currentFile = $(this).data('path');
                    var type = $(this).data('type');
                    console.log(currentFile + " " + type);
                    $('#righcolumn').load(url + ' #editor', function(data) {
                        $('#currentFileValue').html(currentFile);
                        $('#typeOfFileValue').html(type);
                        editor = configureEditor();
                    });
                });
                $('#message').css('font-style', 'italic');
            })
        </script>
    </body>
</html>
