<!DOCTYPE html>
<html>
    <head>
        <title>Project '${projectName}' - Code Editor</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" media="screen" href="${prefix}/public/aceeditor/stylesheets/main.css">
        <link rel="stylesheet" media="screen" href="${prefix}/public/aceeditor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" media="screen" href="${prefix}/public/aceeditor/csstree/csstree.css">
        <script src="${prefix}/public/aceeditor/javascripts/jquery-1.8.2.min.js" type="text/javascript"
                    charset="utf-8"></script>
        <script src="${prefix}/public/aceeditor/ace/ace.js" type="text/javascript" charset="utf-8"></script>
        <script src="${prefix}/public/aceeditor/bootstrap/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <div id="tester" class="modal hide fade span9">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Application Tester</h3>
            </div>
            <div class="modal-body">
                <iframe src="" id="testerframe"></iframe>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid" id="columns">
                <div class="span3">
                    <h4>Project : '${projectName}'</h4>
                    <div class="btn-group">
                        <button id="savefile" title="Save current file" class="btn btn-small btn-primary"><i class="icon-hdd icon-white"></i></button>
                        <button id="refreshfile" title="Refresh web editor" class="btn btn-small btn-primary"><i class="icon-refresh icon-white"></i></button>
                        <!--
                        <button id="status" class="btn btn-small btn-primary"><i class="icon-list-alt icon-white"></i></button>
                        <button id="search" class="btn btn-small btn-primary"><i class="icon-search icon-white"></i></button>
                        <button id="settings" class="btn btn-small btn-primary"><i class="icon-wrench icon-white"></i></button>
                        -->
                        <button id="createdir" title="Create a new directory" class="btn btn-small btn-info"><i class="icon-folder-open icon-white"></i></button>
                        <button id="create" title="Create a new file" class="btn btn-small btn-info"><i class="icon-file icon-white"></i></button>
                        <button id="delete" title="Delete current file" class="btn btn-small btn-danger"><i class="icon-trash icon-white"></i></button>
                        <button id="run" title="Run/Display application" class="btn btn-small btn-success"><i class="icon-play icon-white"></i></button>
                        <button id="link" title="Go to application" class="btn btn-small btn-success"><i class="icon-share icon-white"></i></button>
                        <button id="snippets" title="Insert snippet" class="btn btn-small btn-primary dropdown-toggle" data-toggle="dropdown"><i class="icon-leaf icon-white"></i></button>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="snippet" data-key="controller">Controller</a></li>
                            <li><a href="#" class="snippet" data-key="action">Action</a></li>
                            <li class="divider"></li>
                            <li><a href="#" class="snippet" data-key="model">Model</a></li>
                            <li><a href="#" class="snippet" data-key="rollback">Rollback transaction</a></li>
                            <li class="divider"></li>
                            <li><a href="#" class="snippet" data-key="wsget">WS GET call</a></li>
                            <li><a href="#" class="snippet" data-key="wspost">WS POST call</a></li>
                            <li><a href="#" class="snippet" data-key="wsput">WS PUT call</a></li>
                            <li><a href="#" class="snippet" data-key="wsdelete">WS DELETE call</a></li>
                            <li class="divider"></li>
                            <!--<li><a href="#" class="snippet" data-key="asyncjob">Asynchronous job</a></li>-->
                            <li><a href="#" class="snippet" data-key="scheduledjob">Scheduled job</a></li>
                            <li><a href="#" class="snippet" data-key="startjob">On start job</a></li>
                            <li><a href="#" class="snippet" data-key="stopjob">On stop job</a></li>
                            <li class="divider"></li>
                            <li><a href="#" class="snippet" data-key="cacheadd">Cache add</a></li>
                            <li><a href="#" class="snippet" data-key="cacheget">Cache get</a></li>
                            <li><a href="#" class="snippet" data-key="cacheclear">Cache clear</a></li>
                            <li><a href="#" class="snippet" data-key="cacherem">Cache remove</a></li>
                            <li class="divider"></li>
                            <li><a href="#" class="snippet" data-key="template">View template</a></li>
                            <li><a href="#" class="snippet" data-key="foreach">For each loop</a></li>
                        </ul>
                    </div>
                    <br/>
                    <input type="text" class="input-mini" id="testurl" value="http://localhost:9000">
                    <div id="message" class="label label-info">Ready to Play !></div>
                    <div id="autocomplete" class="hide"></div>
                    <h5>Project source files</h5>
                    <div id="listTree"></div>

                    <ol class="tree">
                        ${node.toHTML()}
                    </ol>
                    <!--
                    <ul id="files" class="unstyled">
                        <% files.each { file -> %>
                        <li><a href="/@editor/file?path=${java.net.URLEncoder.encode(file.path)}&line=0">${file.displayPath}</a></li>
                        <% } %>
                    </ul>
                    -->
                </div>
                <div class="span9" id="righcolumn">
                    <div id="editor" class="span9">${play.utils.HTML.htmlEscape(src)}</div>
                </div>
            </div>
        </div>
        <div id="currentFileValue" class="hide">${currentFile}</div>
        <div id="typeOfFileValue" class="hide">${type}</div>
        <div id="findcontainer" class="hide"></div>
        <script>
            String.prototype.endsWith = function(suffix) {
                return this.indexOf(suffix, this.length - suffix.length) !== -1;
            };
            String.prototype.startsWith = function(suffix) {
                return this.indexOf(suffix) == 0;
            };
            var Range = ace.require('ace/range').Range
            var editor;
            var testtab;
            var displayAutoComplete = false;
            var autoCompleteTokens = [];
            var autoCompleteStart = -1;
            var autoCompleteLine = -1;
            var checkIfValidToken = function(type, value) {
                return (type != "keyword.operator" && type != "text" && type != "lparen" && type != "rparen" && value != "<" && value != ">" && value != "*");
            };
            var endAutoComplete = function() {
                displayAutoComplete = false;
                autoCompleteTokens = [];
                autoCompleteStart = -1;
                autoCompleteLine = -1;
                $('#autocomplete').html('');
                $('#autocomplete').hide();
                editor.focus();
            };
            var autoComplete = function() {
                var currentPos = editor.selection.getCursor().column;
                var currentLine = editor.selection.getCursor().row;
                if (currentLine != autoCompleteLine) {
                    endAutoComplete();
                } else if (currentPos < autoCompleteStart) {
                    endAutoComplete();
                } else {
                    var line = editor.getSession().getLine(currentLine);
                    var typed = line.substring(autoCompleteStart, currentPos + 1);
                    var type = editor.getSession().getTokenAt(currentLine, currentPos).type
                    var value = editor.getSession().getTokenAt(currentLine, currentPos).value
                    if (checkIfValidToken(type, value)) {
                        try {
                            var tok = editor.getSession().getTokenAt(currentLine, currentPos);
                            if (tok.value != undefined) {
                                typed = $.trim(tok.value);
                            } else {
                                typed = '';
                            }
                        } catch (_) {
                            typed = '';
                        }
                    } else {
                        typed = '';
                    }
                    //console.log("Completion based on token : '" + typed + "'");
                    if (typed.endsWith(" ")) {
                        endAutoComplete();
                    } else {
                        var potentialTokens = jQuery.grep(autoCompleteTokens, function(token, i){
                            return token.toLowerCase().startsWith(typed.toLowerCase());
                        });
                        var idx = potentialTokens.indexOf(typed);
                        if (idx > -1) {
                            potentialTokens.splice(idx, 1);
                        }
                        var list = '<select multiple="multiple" size="10">';
                        for (var t = 0; t < potentialTokens.length; t++) {
                            list += '<option>' + potentialTokens[t] + '</option>';
                        }
                        list += '</select>';
                        $('#autocomplete').html('');
                        $('#autocomplete').html(list);
                        $('#autocomplete').show();
                        $('#autocomplete option').first().attr('selected', 'selected');
                    }
                }
            };
            var insertAutoComplete = function() {
                if (!$('#autocomplete select').is(':empty')) {
                    var value = $('#autocomplete option[selected=selected]').first().val();
                    var currentPos = editor.selection.getCursor().column;
                    var currentLine = editor.selection.getCursor().row;
                    var typed = '';
                    var type = editor.getSession().getTokenAt(currentLine, currentPos).type
                    var tokvalue = editor.getSession().getTokenAt(currentLine, currentPos).value
                    if (checkIfValidToken(type, tokvalue)) {
                        try {
                            var tok = editor.getSession().getTokenAt(currentLine, currentPos);
                            if (tok.value != undefined) {
                                typed = $.trim(tok.value);
                            } else {
                                typed = '';
                            }
                        } catch (_) {
                            typed = '';
                        }
                        if ((currentPos - autoCompleteStart) != typed.length) {
                            autoCompleteStart = currentPos - typed.length;
                        }
                    } else {
                        typed = '';
                    }
                    var range = new Range(currentLine, autoCompleteStart, currentLine, currentPos);
                    if (typed == '' || value.toLowerCase().startsWith(typed.toLowerCase())) {
                        editor.getSession().replace(range, value);
                    }
                }
                endAutoComplete();
            };
            var insertSnippet = function(key) {
                $.get('/public/aceeditor/snippets/' + key + '.txt', function(data) {
                    editor.insert(data);
                });
            };
            var setContextualMessageFor2Sec = function(text) {
                $('#message').css('font-style', 'normal');
                $('#message').html(text);
                setTimeout(function() {
                    $('#message').html('Ready to Play !>');
                    $('#message').css('font-style', 'italic');
                }, 2000);
            };
            var setContextualMessageFor = function(text) {
                $('#message').css('font-style', 'normal');
                $('#message').html(text);
            };
            var compile = function(src) {
                return $.post('/@editor/compile', {src: src, path: $('#currentFileValue').html()}, function(data) {
                    if (!data.compilation) {
                        var line = data.errorLine - 1;
                        editor.getSession().setAnnotations([{text: data.msg, row: line, type:"error"}]);
                        $('#message').attr('class', 'label label-important');
                    } else {
                        editor.getSession().setAnnotations([]);
                        $('#message').attr('class', 'label label-success');
                    }
                });
            };
            var saveFile = function(editor) {
                var src = editor.getValue();
                setContextualMessageFor('Saving ...');
                /**$.post('/@editor/save', {src: src, currentFile: $('#currentFileValue').html()}, function(data) {
                    setContextualMessageFor2Sec('File saved !');
                    //editor.setValue(data);
                });**/
                compile(src).success(function() {
                    $.post('/@editor/save', {src: src, currentFile: $('#currentFileValue').html()}, function(data) {
                        setContextualMessageFor2Sec('File saved !');
                        //editor.setValue(data);
                    });
                });
            };
            var launchFile = function(editor) {
                saveFile(editor);
                $('#testerframe').attr('src', '');
                var url = $('#testurl').val();
                $('#testerframe').attr('src', url);
                $('#tester').modal('show');
            };
            var configureEditor = function() {
                var editor = ace.edit("editor");
                editor.commands.addCommand({
                    name: 'saveFile',
                    bindKey: {win: 'Ctrl-S',  mac: 'Command-S'},
                    exec: function(editor) {
                        saveFile(editor);
                    },
                    readOnly: true
                });
                editor.commands.addCommand({
                    name: 'launchFile',
                    bindKey: {win: 'Ctrl-B',  mac: 'Command-B'},
                    exec: function(editor) {
                        launchFile(editor)
                    },
                    readOnly: true
                });
                editor.commands.addCommand({
                    name: 'complete',
                    bindKey: {win: 'Ctrl-Space',  mac: 'Ctrl-Space'},
                    exec: function(editor) {
                        var tokens = [];
                        var nbrRows = editor.getSession().getLength();
                        for (var i = 0; i < nbrRows; i++) {
                            var toks = editor.getSession().getTokens(i);
                            for (var j = 0; j < toks.length; j++) {
                                var type = toks[j].type;
                                var value = toks[j].value;
                                if (checkIfValidToken(type, value)) {
                                    if (tokens.indexOf(value) < 0) {
                                        tokens.push(value);
                                    }
                                }
                            }
                        }
                        if (!displayAutoComplete) {
                            displayAutoComplete = true;
                            autoCompleteTokens = tokens;
                            autoCompleteStart = editor.selection.getCursor().column;
                            autoCompleteLine = editor.selection.getCursor().row;
                            autoComplete();
                        } else {
                            endAutoComplete();
                        }
                    },
                    readOnly: true
                });
                editor.setTheme("ace/theme/monokai");
                editor.getSession().setMode($('#typeOfFileValue').html());
                editor.setHighlightActiveLine(true);
                editor.getSession().setUseSoftTabs(true);
                editor.getSession().setTabSize(4);
                editor.setShowPrintMargin(false);
                editor.gotoLine(${line});
                editor.on("blur", function() {
                    saveFile(editor);
                });
                editor.on("copy", function(text) {
                    setContextualMessageFor2Sec('Copy selected text ...');
                });
                editor.getSession().on('change', function(e) {
                    if (displayAutoComplete) {
                        autoComplete();
                    }
                });
                return editor;
            };
            var refreshIDE = function() {
                window.location.href = window.location.href;
            }
            $(document).ready(function() {
                var handleDirKeys = function(e) {
                    if (displayAutoComplete) {
                        if(e.charCode == 32 || e.keyCode == 32) {
                            endAutoComplete();
                        }
                        if(e.charCode == 13 || e.keyCode == 13) {
                            e.preventDefault();
                            insertAutoComplete();
                        }
                    }
                };
                $(document).keydown( handleDirKeys );
                editor = configureEditor();
                $('#savefile').click(function(e) {
                    e.preventDefault();
                    saveFile(editor);
                });
                $('#run').click(function(e) {
                    e.preventDefault();
                    launchFile(editor);
                });
                $('#create').click(function(e) {
                    e.preventDefault();
                    var r = prompt('File path in app ?');
                    if (r != "") {
                        $.post('/@editor/create', {name: r}, function(data) {
                            refreshIDE();
                        });
                    }
                });
                $('#createdir').click(function(e) {
                    e.preventDefault();
                    var r = prompt('Dir path in app ?');
                    if (r != "") {
                        $.post('/@editor/createdir', {name: r}, function(data) {
                            refreshIDE();
                        });
                    }
                });
                $('#delete').click(function(e) {
                    e.preventDefault();
                    var name = $('#currentFileValue').html();
                    var r = confirm("Do you really want to delete " + name);
                    if (r == true) {
                        $.post('/@editor/delete', {name: name}, function(data) {
                            refreshIDE();
                        });
                    }
                });
                $('#refreshfile').click(function(e) {
                    e.preventDefault();
                    refreshIDE();
                });
                $('#link').click(function(e) {
                    e.preventDefault();
                    if(testtab == null) { testtab = window.open(); }
                    testtab.location = 'http://localhost:9000/@editor/file?path=' + encodeURIComponent($('#currentFileValue').html()) + "&line=" + editor.selection.getCursor().row;
                    testtab.focus();
                });
                $('.snippet').click(function(e) {
                    e.preventDefault();
                    insertSnippet($(this).data('key'));
                });
                $('.sourcefilelink').click(function(e) {
                    e.preventDefault();
                    var url = $(this).attr('href');
                    var currentFile = $(this).data('path');
                    var type = $(this).data('type');
                    $('#righcolumn').load(url + ' #editor', function(data) {
                        $('#currentFileValue').html(currentFile);
                        $('#typeOfFileValue').html(type);
                        editor = configureEditor();
                        compile(editor.getValue());
                    });
                });
                $('#autocomplete option').live('click', function(e) {
                    $('#autocomplete option').each(function() {
                        $(this).removeAttr('selected');
                    })
                    $(this).attr('selected', 'selected');
                    insertAutoComplete();
                })
                $('#message').css('font-style', 'italic');
                compile(editor.getValue());
            })
        </script>
    </body>
</html>
